<h1 class="text-4xl font-bold  text-slate-100">{{title}}</h1>

{{#if item }}
<p>{{this.item.description}}</p>
<a href="/category/{{this.item.category.url}}" class="text-xl hover:underline block">{{this.item.category.name}}
</a>
<p>Quantity:{{this.item.quantity}}</p>
<p>Price:{{this.item.price}}</p>

{{else}}

<p class="text-slate-100">No items found</p>

{{/if}}